/**
 * @author Sotirios Karageorgopoulos
 */
@import url('../../index.css');

.customer-details-box {
    background-color: var(--clr-grey-10);
    color: var(--clr-primary-3);
    border-radius: var(--radius);
}

.customer-details-title {
    color: var(--clr-primary-3);
    font-size: var(--x-big-font-size);
    font-family: Vujahday;
    text-align: center;
    padding: 2%;
}

.customer-image {
    margin-left: auto;
    margin-right: auto;
}

.customer-info-span {
    font-weight: 700;
}

.customer-info-p {
    padding: 0% 2% 1% 2%;
    font-size: var(--medium-font-size);
}

/**
 * @author Dimitris Michailidis
 */
@media only screen and (max-width:912px) {

    .customer-details-box {
        margin-top: 25%;
        margin-bottom: 30%;
    }


}