/**
 * @author Sotirios Karageorgopoulos
 */
@import url('../../index.css');

.hotel-res-history-header {
    font-family: Vujahday;
    color: var(--clr-grey-1);
    text-align: center;
    font-size: var(--xx-big-font-size);
    font-weight: 700;
    margin-top:2%;
}

/**
 * @author Giorgos Koulos
 */
@media only screen and (max-width: 912px) {
    /*Μεγάλο margin top bottom*/
    .hotel-res-history-header{
       margin-top: 5%;
       margin-bottom: 3%;
       font-size: var(--big-font-size);
    }
}


